@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);

h1 {text-align:center;
    font-size: 5em;
    font-family: "Times New Roman", Times, serif;
    color: black; 
    /*background-color: #961506;*/ 
    background-image: url("ancientbookimage.jpg");
    background-repeat: no-repeat, repeat;
    height: 200px;
    background-position: center;
    background-color: #961506;
    background-size: cover;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 0px;
    text-shadow: 1px 1px 3px $shadow-
    /*border-style: inset;*/
    }

p {text-align:center;
     font-family: "Times New Roman", Times, serif;
     font-size: 2em}

body {
    background-color: #a37a00;
}
body, input, button {
  font-family: 'Times New Roman', Times, serif;
}
@mixin normalize-input {
  display: block;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
}
$shadow-color: #23203b;
$input-color: lighten(#AB9E95, 10%);
$input-border-color: #5E5165;
$button-background-color: #20AE61;
* {
  margin: 0;
  padding: 0;
}


}

@mixin normalize-input {
  display: block;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
}

.login {
  padding: 15px;
  width: 400px;
  min-height: 400px;
  margin: 2% auto 0 auto;

  .heading {
    text-align: center;
    margin-top: 1%;

    h2 {
      font-size: 3em;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      padding-bottom: 5px;
      text-shadow: 1px 1px 3px $shadow-



